main {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.home-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-gif {
  height: 300px;
  width: 500px;
  background-image: url("/assets/image/home.gif");
  background-position: center;
  background-size: cover;
}

.man-images {
  width: calc(100vw - 500px);
  height: 100%;
  position: absolute;
  display: flex;
}

.man-images > div {
  width: 150px;
  height: 300px;
  background-image: url("/assets/image/Animated\ Gif\ Human\ Life\ Cycle\ Gif.gif");
  background-position: center;
  background-size: cover;
  top: calc(100% - 300px);
  position: relative;
}

h1 {
  width: 50px;
  height: 100px;
  top: calc(100% - 300px);
  color: #6b2172;
  font-size: 3rem;
  margin-left: 110px;
  position: relative;
}
